body{
    background-color: #eee;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    width: 400px;
    background-color: white;
    margin: 60px;
    border-radius: 10px;
}
.card-img{
    width: 100%;
}
.card-image img{
    width: 100%;
}
.card-detail{
    width: 100%;
    padding: 0px 0px 20px 20px;
}