header{
    background-color: #b2d6ff;
    height: 100px;
}
aside{
    background-color: #f09a9d;
    height: 700px;
    width: 30%;
    float: left;
}
main{
    background-color: #f5cf8e;
    height: 500px;
    width: 70%;
    float: right;
}
footer{
    background-color: #d6e9fe;
    height: 500px;
    clear: left;
}
.container{

}